<nav>
    <a class="btn" href="/">Hem</a>
    <a class="btn" href="/boards">Tavlor</a>
    {% if user is not null %}
        {% if user.roleName == "admin" %}
            <a class="btn btn-admin" href="/admin">Admin</a>
        {% endif %}
    {% endif %}
    <div class="nav-right">
        {% if user is not null %}
            <span class="nav-text">Inloggad som {{ user.name }}</span>
            <a href="#" id="logoutBtn" type="submit" class="btn">Logga ut</a>
        {% else %}
            <a class="btn" href="/login">Logga in</a>
            <a class="btn register" href="/register">Registrera</a>
        {% endif %}
    </div>
    <form name="logout" action="/auth/logout" method="post"></form>
</nav>