<!DOCTYPE html>
<html lang="en">
<head>
    {{ include('fragments/head.html') }}
    <title>Tråd | 
        {% if thread is defined %}
            {{ thread.name }}
        {% else %}
            Skapa ny
        {% endif %}
    </title>
</head>
<body>
{{ include('fragments/navbar.html') }}
<main>
    <p><a href="/boards/{{ boardId }}">Gå tillbaka till tavlan</a></p>
    <div class="boards">
        {% if thread is defined %}
            <h1 class="title">{{ thread.name }}</h1>

            <div style="margin-top: 20px">
                {% for idx, post in posts %}
                    <div class="post">
                        <div class="postMeta">
                            <b>Inlägg från {{ post.user.name }}</b> | {{ post.createTimeStampFormatted }}<br><br>
                        </div>
                        <div class="postData">
                            <div class="postContent">
                                {{ post.content|escape('customEscaper')|raw }}
                            </div>

                            {% if(post.isUpdated()) %}
                                <p style="font-size: 12px; margin-bottom: 5px; margin-top: 5px;">
                                    <i>Ändrades {{ post.editTimeStampFormatted }}</i></p>
                            {% endif %}

                            {% if(user.id == post.author or user.roleName == "admin") %}
                                <br>
                                <div>
                                    {% if(user.id == post.author) %}
                                        <a href="#" class="updatePostButton" data-post-id="{{ post.id }}">Ändra</a>
                                    {% endif %}
                                    {% if idx != 0 %}
                                        <a href="#" class="deletePostButton" data-post-id="{{ post.id }}">Ta bort</a>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
            {% if(user.roleName == "admin") %}
                <span><b>Adminåtgärder:</b> </span>
                <a id="removeThreadBtn" data-board-id="{{ boardId }}" data-thread-id="{{ thread.id }}" href="#">Ta bort
                    tråd</a>
                <br><br>
            {% endif %}

            {% if user is not null %}
                <div id="createPostArea">
                    <form action="/threads/{{ thread.id }}/posts" method="post">
                        <textarea name="content" id="createEditor"></textarea>
                        <br>
                        <input type="submit" class="button is-dark"
                               value="{{ (thread is defined) ? 'Publicera inlägg' : 'Publicera tråd' }}">
                    </form>
                </div>

                <div id="editPostArea">
                    <textarea name="content" id="editEditor"></textarea>
                    <br>
                    <button type="submit" class="button" id="editPostBtn">Uppdatera inlägg</button>
                    <button type="button" class="button is-danger" id="cancelEditBtn">Avbryt</button>
                </div>
            {% endif %}
        {% else %}
            <form action="/boards/{{ boardId }}/threads" method="post">
                <input type="text" name="title" style="font-size: 14px;
                        width: 20rem; display: block; margin-bottom: 10px; padding: 10px 0 10px 5px;"
                       placeholder="Trådens titel..." required/>
                <textarea name="content" id="createEditor"></textarea>
                <br>
                <input type="submit" class="button is-dark"
                       value="{{ (thread is defined) ? 'Publicera inlägg' : 'Publicera tråd' }}">
            </form>
        {% endif %}
    </div>
</main>
{{ include('fragments/assets.html') }}
<script>
    showStatusMessage([
        "Ofullständig information!",
    ]);
</script>
<link rel="stylesheet" href="/static/css/threadView.css">
<script src="https://cdn.ckeditor.com/ckeditor5/31.1.0/classic/ckeditor.js"></script>
<script src="/static/js/threadView.min.js"></script>
</body>
</html>