<!DOCTYPE html>
<html lang="en">
<head>
    {{ include('fragments/head.html') }}
    <title>Admin</title>
</head>
<body>
{{ include('fragments/navbar.html') }}
<main>
    <h1 class="title">Admin</h1>

    <div class="adminNav">
        <h2>
            <a href="/admin/boards">Tavlor</a>
        </h2>
    </div>

    <div class="adminNav">
        <h2>
            <a href="/admin/users">Användare</a>
        </h2>
    </div>
</main>
{{ include('fragments/assets.html') }}
<link href="/static/css/admin.css" rel="stylesheet"/>
</body>
</html>